# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Generated plugin registrants/dependency files
.flutter-plugins
.flutter-plugins-dependencies

# Coverage
coverage/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS files
.DS_Store
Thumbs.db

# Optional: local env files
.env
.env.*

# Optional: logs
*.log

# Android/Gradle local machine settings
android/local.properties

# iOS/macOS CocoaPods local files
**/Pods/
**/.symlinks/
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
